# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/sdk will be requested for review when
# someone opens a pull request.
* @temporalio/sdk

/contrib/ai-sdk/           @temporalio/sdk @temporalio/ai-sdk
/contrib/strands/          @temporalio/sdk @temporalio/ai-sdk
/contrib/workflow-streams/ @temporalio/sdk @temporalio/ai-sdk
