{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./packages/*/tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc", "deprecation", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "object-shorthand": ["error", "always"],
    "deprecation/deprecation": "warn",
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": 2,
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "import/no-unresolved": "error"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
        "project": "packages/*/tsconfig.json"
      }
    }
  }
}
