node_modules
build
packages/core-bridge/target
sdk-core
lib
es2020
commonjs
.docusaurus
packages/*/CHANGELOG.md
packages/docs/docs/api
typedoc-sidebar.js
lerna.json
README.md

# Ignored since it fails Windows CI
packages/create-project/cli.js