node_modules
build
packages/core-bridge/target
packages/core-bridge/bridge-macros/target
sdk-core
lib
.docusaurus
packages/*/CHANGELOG.md
packages/docs/docs/api
typedoc-sidebar.js
lerna.json
pnpm-lock.yaml
packages/proto/protos/root.d.ts
packages/proto/protos/json-module.js
packages/test/protos/root.d.ts
packages/test/protos/json-module.js
packages/testing/generated-protos/*
packages/testing/proto/*

# Ignored since it fails Windows CI
packages/create-project/cli.js
