[package]
name = "temporal-sdk-typescript-bridge"
version = "0.1.0"
authors = ["Roey Berman <roey@temporal.io>"]
license = "MIT"
edition = "2018"
exclude = ["index.node", "sdk-core"]

[lib]
name = "temporal_sdk_typescript_bridge"
crate-type = ["cdylib"]

[profile.release]
opt-level = 3
debug = false
lto = true
incremental = false

[dependencies]
futures = { version = "0.3", features = ["executor"] }
log = "0.4"
neon = { version = "0.10", default-features = false, features = ["napi-6", "event-queue-api"] }
opentelemetry = "0.16"
parking_lot = "0.12"
prost = "0.9"
prost-types = "0.9"
tokio = "1.13"
once_cell = "1.7.2"
temporal-sdk-core = { version = "*", path = "./sdk-core/core" }
temporal-client = { version = "*", path = "./sdk-core/client" }
tokio-stream = "0.1"
