[package]
name = "temporal-sdk-typescript-bridge"
version = "0.1.0"
authors = ["Temporal Technologies Inc. <sdk@temporal.io>"]
license = "MIT"
edition = "2024"
repository = "https://github.com/temporalio/sdk-typescript"
description = "Core Bridge for the TypeScript Temporal SDK"
publish = false
exclude = ["index.node", "sdk-core"]

[lib]
name = "temporal_sdk_typescript_bridge"
crate-type = ["cdylib"]

[profile.release]
opt-level = 3
debug = false
lto = true
incremental = false

[dependencies]
anyhow = "1.0"
async-trait = "0.1.83"
bridge-macros = { path = "bridge-macros" }
futures = { version = "0.3", features = ["executor"] }
neon = { version = "1.0.0", default-features = false, features = [
    "napi-6",
    "futures",
] }
opentelemetry = "0.29"
os_pipe = "1.2.1"
parking_lot = "0.12"
prost = "0.13"
prost-types = "0.13"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
temporal-sdk-core = { version = "*", path = "./sdk-core/core", features = [
    "ephemeral-server",
] }
temporal-client = { version = "*", path = "./sdk-core/client" }
thiserror = "2"
tokio = "1.13"
tokio-stream = "0.1"
tonic = "0.13"
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "parking_lot",
    "env-filter",
    "registry",
    "ansi",
] }
